################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/marcia/FileContentIndex/1ae7d4ff-a1a6-41ee-ad9d-431c95ade35f.vsidx
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/marcia/FileContentIndex
/.vs/marcia/v17
/.vs/marcia/CopilotIndices/17.14.939.21063
